/* https://stackoverflow.com/questions/74819880/i-want-to-horizontally-split-the-background-into-two-colors-where-one-is-black-c */
/*used the above to help implement the background color of body*/
body {
    background-image: linear-gradient(to bottom, #009999, #00b3b3, #00cccc, #00e6e6);
    background-repeat: no-repeat;
    background-color: #00e6e6;
}
.searchForm{
    display: block;
    width: 50%;
    padding: 20px;
    margin: auto;
}

legend{
    margin: auto;
    font-size: 30px;
    color: white;
}

.serachFieldset{
    border: 5px groove;
    box-shadow: 10px 10px 8px grey;
}

input[type=text]{
    width: 95%;
    font-size: large;
    display: flex;
    margin: 8px;
    padding: 8px;
    border: 2px double;
}

input[type=submit]:hover{
    background-color: #4db8ff;
}
input[type=submit]{
    width: 100%;
    font-size: large;
    padding: 15px;
    margin: auto;
    border: none;
    border-radius: 50px; 
    text-align: center;
    background-color: #1aa3ff;
    color: white;
}
label{
    font-size: 25px;
    padding: 8px;
}

.container{
    width: 50%;
    margin: auto;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 20px;
}

.rectangle{
    width:100%;
    height: 5%;
    background-color: #009999;
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: hidden;
    border-radius: 50px;
    color: lightpink;
}

.boxLeft{
    width: 300px;
    border: 5px solid;
    padding: 15px;
    float: left;
    margin-top: 65px;
    font-family: cursive;
    text-align: left;
    box-shadow: 5px 5px 5px 5px;
}

.boxRight{
    width: 300px;
    border: 5px solid;
    padding: 15px;
    margin: 10px;
    float: right;
    border: solid;
    font-family: cursive;
    text-align: left;
    box-shadow: 5px 5px 5px 5px;
}

ul, li{
    list-style: none;
    padding: 0;
}

progress{
    border: 1px;
    border-radius: 30px;
    float: right;
}

/*https://stackoverflow.com/questions/45507970/how-can-i-change-the-color-of-a-progress-bar-value-in-html*/
/*used to implement a color change for the progress bar*/
/*for firefox users*/
progress::-moz-progress-bar{
    background-color: red;
}

/*Should be for other browsers*/
progress::-webkit-progress-bar{
    background-color: #009999;
}